::-webkit-scrollbar {
    display:none;
}

#main-window {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  border: 2px solid blue;
  position: relative; }
#main-window #customizable-screen {
display: -webkit-flex;
display: flex;
flex-direction: column;
height: 93%;
width: 100%; }
#main-window #customizable-screen #first-time-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: url('../images/handshake.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; }
#main-window #customizable-screen #first-time-container div {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 100%; }
#main-window #customizable-screen #first-time-container #first-time-welcome {
  margin-top: 5%;
  font-size: 250%;
  align-items: center;
  justify-content: center; 
  text-align: center }
#main-window #customizable-screen #first-time-container #extension {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-in, opacity 0.85s ease-in, height 0.5s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 150%;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
#main-window #customizable-screen #first-time-container #extension div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center; }
#main-window #customizable-screen #first-time-container #extension div button {
  margin-left: 2%;
  background-color: green;
  border-radius: 10%; }
#main-window #customizable-screen #first-time-container #extension input {
  width: 50%;
  border-radius: 20px;
  background: lightgray;
  text-align: center; }
#main-window #customizable-screen #first-time-container #extension.active {
  height: 15%;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }
#main-window #customizable-screen #first-time-container #first-time-find-event, #main-window #customizable-screen #first-time-container #first-time-create-event {
  margin-top: 5%;
  align-items: center;
  justify-content: center; 
  text-align: center; }
#main-window #customizable-screen #first-time-container .btn {
  display: flex;
  border-radius: 2px;
  border: none;
  height: 80%;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 75%;
  background-color: #F07444;
  color: white;
  font-size: 150%;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; }
.px48 {
  font-size: 48px;
}

.w10 {
	width: 10%;
}
.facebook {
  background: #3b5998;
  color: white;
}

.google {
  background: #4285f4;
  color: white;
}

.margin1 {
  margin-left: 1%;
}
#events-container {
    display: -webkit-flex;
    display:flex;
    height:100%;
    width: 100%;
    flex-direction: column;
}

#events-list {
    display:flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    overflow-y: auto;
}

#create-event-div {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    border: 1px solid black;
}

#create-circle {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    border: 1px solid black;
}

#events-list div {
    display:flex;
    min-height: 15%;
    border: 1px solid black;
}

#my-and-create-event-container {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    align-items: center;
}


#my-and-create-event-container div {
    display: flex;
    height: 50%;
    width: 40%;
    margin-left:6.66%;
    align-items:center;
    justify-content:center;
    border-radius:8px;
    background-color: #0000CC;
}

.see-me-now {
    display: flex;
}

#settings-container > div{
    padding-left: 2%;
}

#main-window {
    display: -webkit-flex;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    border: 2px solid blue;
    position: relative;
}

#customizable-screen {
        display: -webkit-flex;
        display:flex;
        flex-direction: column;
        height: 93%;
        width: 100%;
}

#first-time-container {
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;
            background: url('../images/handshake.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
}

#extension{
                display: flex;
                flex-direction: column;
                height: 15%;
                width: 100%;
}

#first-time-welcome {
                margin-top: 25%;
                font-size: 250%;
                align-items: center;
                justify-content: center;
}
#extension div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#extension div button {
                        margin-left: 2%;
                        background-color: green;
                        border-radius: 10%;
}

#extension div input{
                    width: 50%;
                    border-radius: 20px;
                    background: lightgray;
                    text-align: center;
}

#extension {
                height: 0;
                visibility: hidden;
                opacity: 0;
                transition:visibility 0.5s ease-in,opacity 0.85s ease-in, height 0.5s ease-in;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 150%;
                color: white;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#extension.active {
    height: 15%;
    visibility: visible;
    opacity:1;
    transition-delay:0s;
}

#first-time-find-event {
    margin-top: 15%;
    align-items: center;
    justify-content: center;
}

#first-time-create-event, #first-time-login {
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn {
    display: flex;
    border-radius: 2px;
    border: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    background-color: #F07444;
    color: white;
    font-size: 150%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

#senseus-header {
  font-size:14px;
  min-height:5%;
  max-height:5%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
  background-color: rgb(56, 126, 245);
  color: white;
  padding: 0;
  /*margin-bottom:1%;*/
}

#senseus-calendar-header {
  font-size:14px;
  height:   4%;
  width:100%;
  display: flex;
  flex-direction:column;
  padding: 0;
  border:0;
  margin-top:8%;
}

#senseus-calendar-header .inner-senseus-header {
  background-color: rgb(56, 126, 245);
  color: white;
  border: 1px solid black;
}

#senseus-calendar-header table th{
 border-left: 1px solid black;
 border-bottom: 1px solid black;
 border-top: 1px solid black;
}

#week-calendar tr {
    border-bottom: 1px solid #ddd;
}

#week-calendar td {
    border-left: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}
